$clr-orange-primary: #f77100;
$clr-orange-secondary: #ffa944;

$clr-black-primary: #000000;

$clr-grey-primary: #8a8a8a;
$clr-grey-secondary: #f5f5f5;

$clr-white-primary: #ffffff;
$clr-whote-secondary: #fbfbfd;

$clr-red-primary: #ff6565;
$clr-red-secondary: #ff8c8c;

$clr-green-primary: #00d87d;
$clr-green-secondary: #74ecba;

